.App{
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.mainTitle{
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 5em;
  width: 5em;
  line-height: 0.9em;
  margin-left: auto;
  margin-right: auto;
}


.rainbow-text{
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333%);
    background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: rainbow-text-animation-rev 0.5s ease forwards
}

.row {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 45vw;  
  max-width: 500px;
  margin: 0 10px;
}

#leftCol{
  background: linear-gradient(to left bottom, rgb(193, 245, 204), rgb(117, 177, 99));

}

h1{
  color: green;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
